.background-image{
    width: 100%;
    height: 50%;
    padding: 10px;
    /* border: 1px solid rgba(27,31,35,.2); */
    margin-left: 20px;
    background-image: url('../../assets/icons/background.gif');
    /* background-size: cover; */
    /* background-size: cover;
    background-position: center; */
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position: center; */
  
}

img {
    border: 1px solid rgba(27,31,35,.2);
    object-fit: cover;
  }


  .CR1 {
    position: relative;
    top:45px;
    color: blue;
    right: 15px;
    left:15px;
  }

 
  .CR2 {
    position: relative;
    top:180px;
    right: 15px;
    left:10px;
  }

 .CR3 {
    position: relative;
    top:250px;
    right: 15px;
    left:-20px;
  }


 .CR4 {
    position: relative;
    top:60px;
    left:-20px;
    
  }
    .CR5 {
    position: relative;
    top:180px;
    left:16px;
  }
  
   .CR6 {
    position: relative;
    top:80px;
    right: 50px;
    left: 30px;
  }
   .CR7 {
     position: relative;
    top:252px;
    left:10px;
  }
   .CR8 {
    position: relative;
    top:192px;
    left:87px;
  }
   .CR9 {
    position: relative;
    top:70px;
    left: 180px;
  }
   .CR10 {
    position: relative;
    top:250px;
    left: 150px;
  }

  .DESK1{
    display: none !important;
    
  }
  .DESK2{
    display: none !important;
  }
  .DESK3{
    display: none !important;
  }
  .DESK4{
    display: none !important;
  }

  .occupied{
    display: inline-block;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    line-height: 1.5rem;
    margin-left: 15px;
    background-color: red;
    clear:both;
} 

.unoccupied{
    display: inline-block;
    font-size: 0px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    line-height: 1.5rem;
    margin-left: 15px;
    background-color:green;
    clear:both;
}
